.root {
  display: grid;
  gap: 1rem;
}

.card {
  --question-card-padding: 2rem;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  padding: var(--question-card-padding);
  background-color: var(--white);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-200);
  gap: 0.5rem;
}

.cardHead {
  display: inline;
}

.cardLink {
  float: right;
}

.status {
  text-transform: capitalize;
  place-self: start;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  font-size: 11px;
  background-color: #07034f;
  color: #fff;
  text-align: center;
  padding: 6px 0;
  border-radius: 3px;
  position: absolute;
  z-index: 1;
  margin-top: -25px;
  margin-left: -25px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
